* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 10rem;
    height: 17rem;
    border: 1px solid black;
    border-radius: 15px;
}

.palette-container {
    display: flex;
    justify-content: space-evenly;
}

.code-container {
    border-radius: 10px;
    padding: 0 10px;
    background-color: #f5f5f5;
    margin-bottom: 5px;
}

.hex-code {
    color: #333;
}